@use "base/_reset.scss" as *;
@use "components/movie.scss" as *;

body {
  background-color: $primary-color;
  color: white;
}

img {
  max-width: 100%;
}

header {
  @include flex;
}

main {
  border: 1px solid red;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

footer {
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 20px;
}
